@{
    Layout = null;
    ViewData["Title"] = "Login Page";
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/signin.css" rel="stylesheet" />
</head>

<body class="text-center">
	<div class="form-signin">
		<img class="mb-4" src="~/images/logo.png" alt="" width="200" height="72">
		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		<label for="inputEmail" class="sr-only">Email/Mobile</label>
		<input type="text" id="inputEmail" name="user" class="form-control" placeholder="Email/Mobile" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
		<div class="checkbox mb-3">
			<label>
				<input type="checkbox" value="remember-me"> Remember me
			</label>
			<a href="">Forget Password?</a>
		</div>
		<button id="signIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		<p class="mt-5 mb-3 text-muted">No Account Please <a asp-controller="Account" asp-action="Signup">Sign Up</a></p>
		<p class="mt-5 mb-3 text-muted">&copy; 2021</p>
	</div>
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/js/jquery.cookie.js"></script>
	<script>
		$("#signIn").click(function () {
			var emailOrMobile = $('#inputEmail').val();
			var password = $('#inputPassword').val();
			var url = "https://localhost:44362/api/Auth/";
			var user = {
				Email: emailOrMobile, Mobile: emailOrMobile, Password: password
			};
			$.ajax({
				url: url,
				type: 'POST',
				//crossDomain: true,
				data: JSON.stringify(user),
				//async: true,
				//contentType: "application/json",
				contentType: 'application/json; charset=utf-8',
				//contentType: "text",
				dataType: 'json',
				headers: {
					"accept": "application/json",
					"Access-Control-Allow-Origin": "*"
				},
				success: function (data, status) {
					console.log(data, status);
					var objData = JSON.stringify(data);

					var dd = JSON.parse(JSON.parse(objData));
					var base_url = window.location.origin;
					
					if (dd.Id > 0) {
						$.cookie("you", objData, { path: '/', expires: 360 });
						window.open(base_url + '/Home/Calendar', "_self");
					}
				} // End of success function of ajax form
			}); // End of ajax call
		});
	</script>
</body>
</html>

